body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

h1{
    font-size: 50px;
}
.cl{
    color: orange;
}

.flexiable{
    display: flex;
    margin-bottom: 60px;
}
.first{
    width: 50%;
    padding: 2%;
}
.first img{
    width: 75%;
}

.btn{
    text-decoration: none;
    background-image: linear-gradient(to right top, #050d37, #004680, #00839c, #00bd76, #a8eb12);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 800;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp{
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.epi{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 5px;
   
}

#web1{
    border-left: 7px solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(191, 42, 42), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

#web2{
    border-left: 7px solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(21, 11, 132), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}